{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block help %}
{% spaceless %}
{% if help is defined and help %}
    <p class="help-block">{{ help_translation_domain is same as(false) ? help : help|trans({}, help_translation_domain) }}</p>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block form_widget -%}
    {{ parent() }}
    {{ block('help') }}
{%- endblock form_widget %}

{# Override col widths #}
{% block form_label_class -%}
col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-9
{%- endblock form_group_class %}
