{% extends 'bootstrap_3_layout.html.twig' %}

{% block help %}
{% spaceless %}
{% if help is defined and help %}
    <p class="help-block">{{ help_translation_domain is same as(false) ? help : help|trans({}, help_translation_domain) }}</p>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block form_widget -%}
    {{ parent() }}
    {{ block('help') }}
{%- endblock form_widget %}

